<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_sync_syscom_root" name="SyncSyscom" groups="sync_syscom.group_sync_syscom_manager"/>
        <menuitem
            id="menu_sync_syscom_sync"
            name="Sincronizar"
            parent="menu_sync_syscom_root"
            groups="sync_syscom.group_sync_syscom_manager"
        />
        <menuitem
            id="menu_sync_syscom_catalogs"
            name="Catálogos"
            parent="menu_sync_syscom_root"
            groups="sync_syscom.group_sync_syscom_manager"
        />
        <menuitem
            id="menu_sync_syscom_sync_categories"
            name="Categorías"
            parent="menu_sync_syscom_sync"
            action="server_action_sync_syscom_category"
            groups="sync_syscom.group_sync_syscom_manager"
        />
        <menuitem
            id="menu_sync_syscom_sync_brands"
            name="Marcas"
            parent="menu_sync_syscom_sync"
            action="server_action_sync_syscom_brand"
            groups="sync_syscom.group_sync_syscom_manager"
        />
        <menuitem
            id="menu_sync_syscom_sync_products"
            name="Modelos"
            parent="menu_sync_syscom_sync"
            action="server_action_sync_syscom_models_selected"
            groups="sync_syscom.group_sync_syscom_manager"
        />
        <menuitem
            id="menu_sync_syscom_categories"
            name="Categorías"
            parent="menu_sync_syscom_catalogs"
            action="action_sync_syscom_category"
            groups="sync_syscom.group_sync_syscom_manager"
        />
        <menuitem
            id="menu_sync_syscom_brands"
            name="Marcas"
            parent="menu_sync_syscom_catalogs"
            action="action_sync_syscom_brand"
            groups="sync_syscom.group_sync_syscom_manager"
        />
        <menuitem
            id="menu_sync_syscom_products"
            name="Modelos"
            parent="menu_sync_syscom_catalogs"
            action="action_sync_syscom_product"
            groups="sync_syscom.group_sync_syscom_manager"
        />
        <menuitem
            id="menu_sync_syscom_logs"
            name="Logs"
            parent="menu_sync_syscom_root"
            action="action_sync_syscom_log"
            groups="sync_syscom.group_sync_syscom_manager"
        />
    </data>
</odoo>
